<% layout("/layouts/boilerplate")-%>
    <br>
    <div class="row">
        <div class="col-8 offset-2">

            <h3>Create New Listing:</h3> <br>
            <form action="/listings" method="post">

                <div class="mb-3">
                    <label for="title" class="form-label">Title*</label>
                    <input type="text" name="listing[title]" placeholder="Add A Catchy Title" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" 
                        class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" placeholder="Enter image URL/Link" class="form-control" />
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="1400" class="form-control" />
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" />

                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Kolkata, West Bengal" class="form-control" />
                </div>

                <br>
                <button class="btn btn-dark add-btn">Add</button>

            </form>

        </div>
    </div>

    <br><br>